$body-background-color: $grey-dk-200;
$sidebar-color: $grey-dk-300;
$search-background-color: $grey-dk-200;
$table-background-color: $grey-dk-100;
$code-background-color: $grey-dk-100;
$feedback-color: darken($sidebar-color, 3%);

$body-text-color: $grey-lt-100;
$body-heading-color: $grey-lt-300;
$search-result-preview-color: $grey-lt-000;
$nav-child-link-color: $grey-lt-100;
$link-color: $grey-dk-200;
$btn-primary-color: $grey-lt-300;
$base-button-color: #f7f7f7;
